:root {
}

body {
  margin: 5px;
  background-color: beige;
}

.center {
  margin: auto;
  width: 50%;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.description {
  font-size: small;
}

.viewerImg {
  max-width: 512px;
  height: auto;
  margin: 1em;
}

.previewImg {
  max-width: 10vw;
  height: auto;
}

td.index a, td.found a {
  text-decoration: none;
}

td.pieces {
  font-family: monospace;
  font-size: smaller;
}

td.board {
  font-family: monospace;
  font-size: .7em;
}

td.board span {
  display: block;
}

tr.row-found td {
  background-color: #88CC88 !important;
}
