:root {
}

body {
  margin: 5px;
  background-color: beige;
}

.center {
  margin: auto;
  width: 50%;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.description {
  font-size: x-small;
}

.viewerImg {
  max-width: 512px;
  height: auto;
  margin: 1em;
}

.previewImg {
  max-width: 10vw;
  height: auto;
}

.board {
  font-family: monospace;
  font-size: .75em;
}
