:root {
}

body {
  margin: 0px;
  background-color: beige;
}

.vh-container {
  height: 98vh !important;
}

.center {
  margin: auto;
  width: 50%;
}

/* ----- COMMON ----- */

/* override stuff from boostrap */
.bg-primary {
  background-color: #2f2823 !important;
}


/* ----- APP HEADER ----- */

.header {
  margin-bottom: 1em;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2em;
  border-right:  solid 1px black;
}

.navbar-brand-detail {
  font-weight: normal;
  font-size: 0.5em;
  display: block;
}

.nav-font-size {
  font-size: 1em;
}

@media (max-width: 800px) {
  .nav-font-size {
    font-size: 0.75em;
  }

  .navbar-brand {
    font-size: 1em;
  }

  .navbar-brand-detail {
    font-size: 0.4em;
  }
}


/* ----- INTRO PAGE ----- */

.intro-page {
  max-width: 100%;
}


.markdown img[src*="#right"] {
  float: right;
  margin-left: 1em;
}

.markdown img[src*="#left"] {
  float: left;
  margin-right: 1em;
}

.markdown img[src*="#center"] {
  display: block;
  margin: auto;
  max-width: 70%;
}

.markdown img[src*="piece_"] {
  max-width: 128px;
}

.markdown table, .markdown tr, .markdown td, .markdown th {
  border: #C0C0C0 solid 1px;
  border-collapse: collapse;
}

.markdown table {
  margin-bottom: 1em;
  max-width: 100%;
}

.markdown td, .markdown th {
  white-space: nowrap;
  padding-left: 1em;
  padding-right: 1em;
}

.markdown hr {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

/* ----- GENERATOR PAGE ----- */


.title {
  font-size: x-large;
  font-weight: bold;
}

.description {
  font-size: small;
}

.gen-loading {
  font-size: x-large;
  font-weight: bold;
  padding: 1em;
}

.gen-status {
  padding-left: .5em;
}

.gen-status form {
  padding-left: 1em;
  display: inline-block;
}

.gen-col-index a, .gen-col-found a {
  text-decoration: none;
}

.gen-found-prev, .gen-found-next {
  font-size: smaller;
}

.gen-col-pieces {
  font-family: monospace;
  font-size: smaller;
}

.gen-col-board {
  font-family: monospace;
  font-size: .7em;
}

.gen-col-board span {
  display: block;
}

.gen-row-found {
  background-color: #88CC88 !important;
}

.gen-grid-header-container {

}

.gen-grid-data-container {
  flex-grow: 1;
}

.gen-grid-head {
  border: 1px solid #D0D0D0;
  font-weight: bold;
  padding: 5px;
  background-color: #EAECA0;
}

.gen-grid-row {
  border: 1px solid #D0D0D0;
  padding: 5px;
}

.gen-grid-found {
  background-color: #88CC88 !important;
}

.gen-grid-item-even, .gen-grid-item-odd {
  background-color: #FFFFFF;
}

.gen-grid-item-odd {
  background-color: #E8E8E8;
}


/* ----- ANALYZER PAGE ----- */

.ana-status {
  padding-left: .5em;
}

.ana-loading {
  font-size: x-large;
  font-weight: bold;
  padding: 1em;
}

table.ana-table, .ana-table th, .ana-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr.ana-row-stats td {
  padding: .5em;
  background-color : white;
}

tr.ana-row-stats pre {
  margin-bottom: 0;
}

tr.ana-row-href td {
  padding-left: .5em;
  height: 2em;
  font-weight: bold;
  background-color: #EAECA0;
}

tr.ana-row-sig td {
  padding-left: .5em;
  height: 2em;
  font-family: monospace;
  background-color : #8C8;
}

tr.ana-row-sig.err td {
  background-color : #fdac8d;
  font-weight: bold;
}

tr.ana-row-sig.dup td {
  background-color: #F00;
  font-weight: bold;
}

tr.ana-row-img td {
  text-align: center;
  background-color: white;
  width: 130px;
  height: 130px;
}

.ana-row-img img {
  max-width: 128px;
  max-height: 128px;
}


/* ----- PIECES PAGE ----- */


.pcs-status {
  padding-left: .5em;
}

.pcs-loading {
  font-size: x-large;
  font-weight: bold;
  padding: 1em;
}

table.pcs-table, .pcs-table th, .pcs-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.pcs-table {
  background-color: white;
  margin-bottom: 1em;
}

.pcs-explanation {
  margin-bottom: 1em;
}

.pcs-row-title td {
  font-weight: bold;
  padding-left: 0.5em;
  height: 2em;
  background-color: #EAECA0;
}

.pcs-row-pieces td {
  width: 160px;
  text-align: center;
  background-color: #D5D5BF;
}

.pcs-label {
  font-size: smaller;
}

/* ~~ */

