:root {
}

body {
  margin: 0px;
  background-color: #dff4ff;
}

.vh-container {
  height: 98vh !important;
}

.center {
  margin: auto;
  width: 50%;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.description {
  font-size: small;
}

.viewerImg {
  max-width: 512px;
  height: auto;
  margin: 1em;
}

.previewImg {
  max-width: 10vw;
  height: auto;
}

.index a, .found a {
  text-decoration: none;
}

.prev, .next {
  font-size: smaller;
}

.pieces {
  font-family: monospace;
  font-size: smaller;
}

.board {
  font-family: monospace;
  font-size: .7em;
}

.board span {
  display: block;
}

.row-found {
  background-color: #88CC88 !important;
}

.gridHeaderContainer {

}

.gridDataContainer {
  flex-grow: 1;
}

.gridHead {
  border: 1px solid #D0D0D0;
  font-weight: bold;
  padding: 5px;
}

.gridRow {
  border: 1px solid #D0D0D0;
  padding: 5px;
}

.gridFound {
  background-color: #88CC88 !important;
}

.gridItemEven,
.gridItemOdd {
  background-color: #FFFFFF;
}

.gridItemOdd {
  background-color: #E8E8E8;
}

/* override stuff from boostrap */
.bg-primary {
  background-color: #7df8fc !important;
}

.header {
  margin-bottom: 1em;
}

.navbar-brand {
  font-weight: bold;
  font-size: x-large;
  border-right:  solid 1px black;
}

.navbar-brand-detail {
  font-weight: normal;
  font-size: small;
  display: block;
}

.markdown img[src*="#right"] {
  float: right;
  margin-left: 1em;
}

.markdown img[src*="#left"] {
  float: left;
  margin-right: 1em;
}

.markdown img[src*="piece_"] {
  max-width: 128px;
}

.markdown table, .markdown tr, .markdown td, .markdown th {
  border: #C0C0C0 solid 1px;
  border-collapse: collapse;
}

.markdown table {
  margin-bottom: 1em;
}

.markdown td, .markdown th {
  white-space: nowrap;
  padding-left: 1em;
  padding-right: 1em;
}

/*.markdown td:first-of-type {*/
/*  width: 140px !important;*/
/*}*/

