:root {
}

body {
  margin: 0px;
  background-color: beige;
}

.vh-container {
  height: 98vh !important;
}

.center {
  margin: auto;
  width: 50%;
}

/* ----- COMMON ----- */

/* override stuff from boostrap */
.bg-primary {
  background-color: #2f2823 !important;
}


/* ----- APP HEADER ----- */

.header {
  margin-bottom: 1em;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2em;
  border-right:  solid 1px black;
}

.navbar-brand-detail {
  font-weight: normal;
  font-size: 0.5em;
  display: block;
}

.nav-font-size {
  font-size: 1em;
}

@media (max-width: 800px) {
  .nav-font-size {
    font-size: 0.75em;
  }

  .navbar-brand {
    font-size: 1em;
  }

  .navbar-brand-detail {
    font-size: 0.4em;
  }
}


/* ----- INTRO PAGE ----- */

.intro-page {
  max-width: 100%;
}


.markdown img[src*="#right"] {
  float: right;
  margin-left: 1em;
}

.markdown img[src*="#left"] {
  display: block;
  margin: auto;
  /*float: left;*/
  /*margin-right: 1em;*/
}

.markdown img[src*="#center"] {
  display: block;
  margin: auto;
  max-width: 70%;
}

.markdown img[src*="piece_"] {
  max-width: 128px;
}

.markdown table, .markdown tr, .markdown td, .markdown th {
  border: #C0C0C0 solid 1px;
  border-collapse: collapse;
}

.markdown table {
  margin-bottom: 1em;
  max-width: 100%;
}

.markdown td, .markdown th {
  white-space: nowrap;
  padding-left: 1em;
  padding-right: 1em;
}

/*.markdown td:first-of-type {*/
/*  width: 140px !important;*/
/*}*/


/* ----- GENERATOR PAGE ----- */


.title {
  font-size: x-large;
  font-weight: bold;
}

.description {
  font-size: small;
}

.viewerImg {
  max-width: 512px;
  height: auto;
  margin: 1em;
}

.previewImg {
  max-width: 10vw;
  height: auto;
}

.index a, .found a {
  text-decoration: none;
}

.prev, .next {
  font-size: smaller;
}

.pieces {
  font-family: monospace;
  font-size: smaller;
}

.board {
  font-family: monospace;
  font-size: .7em;
}

.board span {
  display: block;
}

.row-found {
  background-color: #88CC88 !important;
}

.gridHeaderContainer {

}

.gridDataContainer {
  flex-grow: 1;
}

.gridHead {
  border: 1px solid #D0D0D0;
  font-weight: bold;
  padding: 5px;
}

.gridRow {
  border: 1px solid #D0D0D0;
  padding: 5px;
}

.gridFound {
  background-color: #88CC88 !important;
}

.gridItemEven,
.gridItemOdd {
  background-color: #FFFFFF;
}

.gridItemOdd {
  background-color: #E8E8E8;
}



/* ----- ANALYZER PAGE ----- */

/* ----- PIECES PAGE ----- */

